@import '../index';


.l-roll {
    overflow: auto;
    position: relative; 
    

    .l-roll-overflow {
        height: 3000px;
    }

    .l-roll-msg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100px);

        .item {
            background-color: #eee;
            height: var(--height);
            // line-height: var(--height);

            &:nth-child(2n) {
                background-color: #ccc;
            }

            &:hover {
                background-color: aquamarine;
            }
        }
    }
}