@import '../index';


.l-rotation {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #000;

    &:hover {
        transform: rotateY(360deg);
        transition: transform 10s;
        transform-style: preserve-3d;
    }

    .l-rotation-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;

    }
}