@import '../index';

.l-button {
    display: inline-block;
    border: solid 1px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    padding: 6px 11px;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;

    &[type]:hover {
        background-color: #fff;
    }

    &[type=default] {
        background-color: $default-color;
    }

    &[type=default]:hover {
        color: $default-color;
    }

    &[type=success] {
        background-color: $success-color;
    }

    &[type=success]:hover {
        color: $default-color;
    }

    &[type=fail] {
        background-color: $fail-color;
    }

    &[type=fail]:hover {
        color: $fail-color;
    }

    &[type=information] {
        background-color: $information-color;
    }

    &[type=information]:hover {
        color: $information-color;
    }

    &[lsize=maximum] {
        padding: $default-padding + 4px;
    }

    &[lsize=large] {
        padding: $default-padding + 2px;
    }

    &[lsize=default] {
        padding: $default-padding + 0px;
    }

    &[lsize=small] {
        padding: ($default-padding - 2) + px;
    }

    &[lsize=minimum] {
        padding: ($default-padding - 4) + px;
    }

    &[shape=circle] {
        border-radius: 50%;
    }










}